body{
    background-color: #a2f7e6; 
    font-family: "Nunito", sans-serif;
}
#main-Navbar .navbar-brand{
    color:  #f69322;
    font-size: 1.5rem;
}
#main-Navbar{
    font-size: 1.5rem;
    font-weight: 100;
}

#main-Navbar .nav-link{
    color: #0A4D68;

}
#main-Navbar .nav-link:hover{
    background: rgba(21, 244, 166, 0.272);
    color: #f6f3ef;
    font-weight: 500;
    transform: scale(1.10);
    border-radius: 10%;
    

}
#heading{
    color: #0A4D68;
}
.container-fluid span{
    color: #f69322;
    font-weight: 700;
}
.container-fluid h1{
    font-size: 2.5rem;
    font-weight: 100;
    
}
.container-fluid h2{
    font-size: 1.25rem;
   
  
}
.content2 .content{
    color: #DB005B;
    font-size: 1.25rem;
    line-height:2rem;
 
    
}

.content2{
    margin-top: 100px;
    margin-bottom: 100px;
}
.content2  h1{
  font-weight: 100;
    
}
.navbar.scrolled{
    background: #4ddacc8e;
    transition: background .75s;
}

@media (max-width: 1073px) {
    #heading h1{
        font-size: 2.5rem;
    }
    #heading h2{
        font-size: 1.5rem;
    }
  }
